.form-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.signup-form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: fit-content;
  margin: auto;
  padding: 15px;
  box-shadow: 0px 4px 12px 0px #00000026;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.signup-form input {
    font-family: 'Roboto', sans-serif;
    width: 320px;
    height: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
}

.form-title {
    text-align: center;
}