*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #ebeef3;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter UI", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #ebeef3;
}
