.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
}

a {
  color: inherit;
  text-decoration: none;
}

.header-left {
  margin-left: 20px;
}

.header-right {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 20px;
}

.blog-title {
  cursor: pointer;
  margin: 0;
}

.btn {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  background: none;
  border: none;
  cursor: pointer;
}

.btn--signup {
  padding: 10px 15px;
}

.btn--green {
  border: 1px solid #52c41a;
  color: #52c41a;
  border-radius: 5px;
}

.btn--red {
  border: 1px solid #f5222d;
  color: #f5222d;
  border-radius: 5px;
}

.btn--black {
  border: 1px solid #000000bf;
  color: #000000bf;
  border-radius: 5px;
  padding: 10px 15px;
}

.profile__img {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn--profile {
  display: inline-flex;
  align-items: center;
}

.link--article {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
